@media only screen and (min-width: 768px) {
  .header {
    &__container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  .logo {
    margin-bottom: 0;
  }
  .search-field {
    margin: 0;
  }
}
