// colors variable
$primary: #333333;
$dark-gray: #4f4f4f; //dark-gray
$primary-gray: #828282; //primary-gray
$gray: #a9a9a9; //gray
$middle-gray: #bdbdbd; // middle-gray
$light-gray: #f2f2f2; //light-gray
$primary-red: #eb5757;

// font family
$mulish: "Mulish", sans-serif;
$montserrat: "Montserrat", sans-serif;
